<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header>
      <%- include('./partials/nav.ejs') %>
    </header>
    <div class="container">
      <section>
        <h1> Sorry Page not found ;)</h1>
        <button><a href="/">go back</a></button>
      </section>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
