<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header>
      <%- include('./partials/nav.ejs') %>
    </header>
    <section>
      <h1> Sorry Page not found ;)</h1>
    </section>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
