<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <section>
        <h1>Welcome to Blog Site</h1>
      </section>
      <section>
        <form action="/blogs" method="POST"> 
          <label for="">title :</label>
          <input type="text" name="title" required/>

          <label for="">comment : </label>
          <input type="text" name="snippet" required/>

          <label for="">blog body : </label>
          <textarea name="body" required></textarea>
          <button>submit</button>
        </form>
      </section>
    </div>
    <%- include('./partials/footer.ejs') %>

    
  </body>
</html>
